.hotel-carousel {
    position: relative;
    .introduction {
      padding: 2rem;
      background-color: rgba(17,66,25,0.5);
      z-index: 1000; 
      width: 90%;
      margin: 80px auto;
      @media ( max-width: 400px ) {
        margin: 40px auto;
        padding: 1rem;
      }
      @media ( min-width: 1200px ) {
        margin: 0;
        width: 50%;
        position: absolute;
        left:50%;
        top: 56%;
        transform: translate(-50%, 130%);
      }
      @media ( mIN-width: 1400px ) {
        top: 61%;
      }
    }
    @media ( min-width: 1200px ) {
        margin-bottom: 250px;
    }
}

.content-wrapper {
    .cover-wrapper {
        margin-bottom: 80px;
        .cover-image {
            position: relative;
            margin-bottom: 80px;
            @media ( max-width: 768px ) {
                margin-bottom: 40px;
            }
            .cover-text {
                display: flex;
                align-items: flex-end;
                position: absolute;
                background-color: #235579;
                height: 50%;
                padding: 20px;
                border-radius: 0px 0px 30px 30px;
                left: 5%;
                top: 0;
              }
        }
        .cover-details {
            .room-types {
                background-color:  rgba(0,0,0, 0.25);
                padding: 50px 80px;
                border-radius: 50px;
                margin: 0px 80px;
                @media ( max-width: 768px ) {
                    padding: 20px;
                    margin: 0px 20px;
                    border-radius: 0px;
                }
                
                .item {
                    margin-bottom: 30px;
                }
                .mdi {
                    font-size: 30px;
                    @media ( max-width: 768px ) {
                        font-size: 20px;
                    }
                }
            }
            .room-description {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: 20px;
                p {
                    font-size: 16px;
                }
                ul {
                    padding-left: 20px
                }
            }
            .facilities-wrapper {
                margin: 0px 80px;
                @media ( max-width: 768px ) {
                    margin: 0px 20px;
                }
                .facilities-desc {
                  background-color:  rgba(0,0,0, 0.25);
                  padding: 50px 60px;
                  margin-right: 20px;
                  border-radius: 50px;
                  text-align: center;
                  @media ( max-width: 768px ) {
                    padding: 20px
                  }
                  .item {
                    margin-bottom: 30px;
                  }
                  img {
                    width: 140px;
                    @media ( max-width: 768px ) {
                        width: 70px;
                      }
                  }
                }
            }
            .explore-wrapper {
                margin: 0px 80px;
                @media ( max-width: 768px ) {
                    margin: 0px 10px;
                }
                .item {
                    margin-bottom: 100px;
                }
                .place-desc {
                    padding-top: 20px;
                    padding: 30px
                }
            }
        } 
    }
}

.footer {
    border-top: 1px solid #ffffff;
    padding: 30px 100px;
    @media ( max-width: 768px ) {
        padding: 30px;
    }
    p {
        font-size: 20px;
    }
    .mdi {
        font-size: 20px;
    }
    .social-media-cons {
        img {
            width: 35px;
        }
    }
}

.text-italian {
    font-family: $type2;
}

.booking-modal {
    .modal-content {
        background-color: rgba(238, 84, 53, 0.8);
        border: rgba(238, 84, 53, 0.8);
    }
}
