@font-face {
  font-family: 'Great Vibes';
  src: url('../fonts/Great Vibes/Great Vibes-Light.eot');
  src: url('../fonts/Great Vibes/Great Vibes-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Great Vibes/Great Vibes-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
  
@font-face {
  font-family: 'Great Vibes';
  src: url('../fonts/Great Vibes/Great Vibes-Bold.eot');
  src: url('../fonts/Great Vibes/Great Vibes-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Great Vibes/Great Vibes-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Great Vibes';
  src: url('../fonts/Great Vibes/Great Vibes-Medium.eot');
  src: url('../fonts/Great Vibes/Great Vibes-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Great Vibes/Great Vibes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Great Vibes';
  src: url('../fonts/Great Vibes/Great Vibes-Regular.eot');
  src: url('../fonts/Great Vibes/Great Vibes-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Great Vibes/Great Vibes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Great Vibes';
  src: url('../fonts/Great Vibes/Great Vibes-Black.eot');
  src: url('../fonts/Great Vibes/Great Vibes-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Great Vibes/Great Vibes-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
  