.footer {
    border-top: 1px solid #ffffff;
    padding: 30px 100px;
    @media ( max-width: 768px ) {
        padding: 30px;
    }
    p {
        font-size: 20px;
    }
    .mdi {
        font-size: 20px;
    }
    .social-media-cons {
        img {
            width: 35px;
        }
    }
}